# Ignore Gedit/Pluma/Sublime temporary files
*.save
*~

# Ignore development PHP settings
php.ini

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
salt.inc.php

# Ignore paths that contain user-generated content.
sites/*/files/*
sites/*/files
sites/*/private/*
sites/sites.php

# Ignore receipts path
/r

# Ignore development stuff
/.idea/
/nbproject/private/
nbproject/.gitignore

# Do NOT ignore .htaccess rules (Drupal SA-CORE-2013-003)
!*/.htaccess
!sites/*/files/.htaccess
!sites/*/private/.htaccess
!sites/*/files/private/.htaccess

# Ignore gdata stuff
gdata

# Ignore drupal txt files
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL.mysql.txt
/INSTALL.pgsql.txt
/INSTALL.sqlite.txt
/INSTALL.txt
/LICENSE.txt
/MAINTAINERS.txt
/README.txt
/UPGRADE.txt

# Do NOT ignore contrib license
!sites/*/*/contrib/*/LICENSE.txt

# Ignore google webmaster tools
googleb9537432b2dce52c.html

# Ignore theme-spepcific source-files
sites/all/themes/custom/verdi/bootstrap/

# Ignore macOS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db