# Ignore Gedit/Pluma/Sublime temporary files
*.save

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/sites.php
/.idea/
/nbproject/private/
nbproject/.gitignore
