*:focus {
    outline: 1px dotted #f63 !important;
}
body {
    background: #fff;
}

/* set font colors */

body {
    color: #333;
}
a:link,
a:visited,
h1,
h2,
.h2,
h1#page-title,
.js .pw-collapsible .fieldset-legend,
.pw-promo-block.pw-promo-headline h3 {
    color: #f63;
}
a:hover,
a:focus,
a:active {
    color: #999;
}
.light,
.light a,
a.light {
    color: #999;
    font-weight: normal;
}
.medium,
.medium a,
a.medium {
    color: #666;
}
.dark,
.dark a,
a.dark {
    color: #333;
}
.dark a:hover,
a.dark:hover {
    color: #666;
}

/*  set border colors */

hr,
#section-header,
.node-blogpost.node-teaser,
.block-submenutree .view-mode-teaser,
.block-submenutree .node-teaser,
.node-results li,
.group-result .panel-flexible,
.pw-list-item,
ol.search-results li,
.search-results article {
    border-bottom: 1px dotted #f63;
}

/* form elements */

button,
.button,
input[type="submit"],
input[type="button"],
.form-submit {
    background: #ff6733; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #ff8157 0%, #ff6c3f 64%, #ff622d 65%, #ff602b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8157), color-stop(64%,#ff6c3f), color-stop(65%,#ff622d), color-stop(100%,#ff602b));
    background-image: -webkit-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%);
    background-image: -o-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%);
    background-image: -ms-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%);
    background-image: linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8157', endColorstr='#ff602b',GradientType=0 );
    
    color: #fff;
        
    -webkit-box-shadow: 0 0 2px 2px #DEDEDE;
    -moz-box-shadow: 0 0 2px 2px #DEDEDE;
    box-shadow: 0 0 2px 2px #DEDEDE;
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
a.form-submit:hover,
span.form-submit:hover,
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
a.form-submit:focus,
span.form-submit:focus,
button:active,
.button:active,
input[type="submit"]:active,
input[type="button"]:active,
a.form-submit:active,
span.form-submit:active {
    background: #ababab; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #ababab 0%, #9d9d9d 70%, #999999 70%, #999999 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ababab), color-stop(70%,#9d9d9d), color-stop(70%,#999999), color-stop(100%,#999999));
    background-image: -webkit-linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%);
    background-image: -o-linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%);
    background-image: -ms-linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%);
    background-image: linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#999999',GradientType=0 );
    
    color: #fff;
}

/* icons */

.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-first span,
.item-list ul.pager li.pager-first a,
.item-list ul.pager li.pager-last a,
.item-list ul.pager li.pager-last span,
.item-list ul.pager li.pager-next a,
#region-postscript-fourth a,
#cboxClose,
.comment-reply,
.comment .submitted .author,
.bubble,
#block-delta-blocks-feed-icons .content,
#views_slideshow_cycle_teaser_section_slider-block .icon-share,
#comment-form #edit-author--2,
#forward-form #edit-instructions p:first-child,
#block-views-blog-block-1 .views-row,
.comment-count,
.icon-taxonomy,
.icon-edit,
.floatbox ul li,
.floatbox h3,
a#text_resize_decrease,
a#text_resize_reset,
a#text_resize_increase,
a.print-page,
a.print_mail,
a.print-pdf,
#block-system-user-menu .first a,
#block-system-user-menu .last a,
#region-user-second .block h2,
.arrow-item,
.pw-list-expander fieldset.collapse-processed.collapsed a.fieldset-title,
.twitter-item,
.back,
.views-more-link,
.read-more a,
.read-less a,
.views-more-link,
a.read-more,
a.read-less,
.read-codex a,
a.read-codex,
.link-profile a,
a.link-profile,
.link-committees a,
a.link-committees,
.link-poll a,
a.link-poll,
.link-report a,
a.link-report,
.link-download a,
a.link-download,
.ic-print a,
a.ic-print,
.link-pdf a,
a.link-pdf,
.link-participate a,
a.link-participate,
.link-sign a,
a.link-sign,
.link-calendar a,
a.link-calendar,
.view-calendar .more-link a,
.link-video a,
a.link-video,
.link-sound a,
a.link-sound,
a.external,
.ic-info .info-title,
blockquote:before,
.zero-clipboard,
.shorten span.processed,
.shorten span,
.icon-link,
.collapse-processed .fieldset-title,
.js .pw-collapsible .fieldset-legend,
.js .responsive-layout-mobile .pw-expandable-mobile h2,
.item-list ul.pager.pager-load-more a span,
#quicktabs-politicians_answer .quicktabs-tabs a span,
#quicktabs-homepage_tabs a span,
#section-content .block.newsletter-subscribe .content-wrapper,
.views-exposed-widget.views-reset-button input[type="submit"],
.views-exposed-widget.views-reset-button input[type="submit"]:hover,
.views-exposed-widget.views-reset-button input[type="submit"]:focus,
.views-exposed-widget.views-reset-button input[type="submit"]:active,
.form-submit.big.link-question a {
    /* background-image: url("YOUR SPRITE"); */
}
.ajax-progress .throbber {
	width: 118px; /* dimensions of the throbber */
	height: 119px;
	/* background: url("YOUR THROBBER") no-repeat; */
}
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  /* background-image: url("YOUR ARROWS SPRITE"); */
}