/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-skin-default .jcarousel-container-horizontal {
  padding: 1.2rem 22px;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-container-vertical {
  padding: 3em 2rem;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
  overflow: hidden;
}

.jcarousel-skin-default .jcarousel-clip-vertical {
  height: 440px;
  height: 44rem;
  overflow: hidden;
}

.jcarousel-skin-default .jcarousel-item {
  height: 60px;
  height: 6.0rem;
  list-style: none;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 6px;
}

.jcarousel-skin-default .jcarousel-item-vertical {
  margin: 6px 0;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #fff url(/sites/all/modules/contrib/jcarousel/skins/default/throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(/sites/all/themes/custom/parliamentwatch/images/sprite_arrows.png);
}

.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 0;
  background-position: -16px -10px;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -48px -10px;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -80px -10px;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 0;
  background-position: -4px -42px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -36px -42px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -68px -42px;
}

/**
 * Vertical Buttons
 */
.jcarousel-skin-default .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}

.jcarousel-skin-default .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}

.jcarousel-skin-default .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-default .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

