body {
  font: 14px/20px Lucida Grande, Helvetica, Arial, sans-serif;
  color: #333; 
}
h2, h3 {
  font-family: "Times New Roman", Times, serif;
  color: #333;
  font-weight: normal;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-weight: bold;
}
blockquote {
  padding: 12px 0 20px 1px;
  margin: 1em 0;
  quotes:"\201D" "\201C";
  font: italic normal 18px/22px Times New Roman, Times, serif;
}
blockquote a {
  color: inherit !important;
  font-weight: normal !important;
}
blockquote:after {
  content: close-quote;
  bottom: -19px;
}
blockquote:before {
  content: open-quote;
  bottom: -25px;
  padding: 0 7px 0 0;
}
blockquote:after,
blockquote:before {
  color: #999;
  font-family: Georgia,Times New Roman,Times,serif;
  font-size: 45px;
  line-height: 1px;
  position: relative;
}
blockquote p:first-child {
  display:inline;
}
blockquote p:first-child:after {
  content: "";
  margin-bottom: 1em;
  display: block;
}
blockquote p:last-child {
  display:inline;
}
blockquote p:last-child:after {
  content: "";
  margin-bottom: 0;
  display: inline;
}
a:link,
a:visited {
  font-weight: bold;
  color: #f63;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #999;
}
ul {
    margin-left: 0 !important;
    margin-bottom: 1em;
    padding: 0 !important;
    list-style-type: none;
}
ul li {  
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: -770px -1896px;
  margin-bottom: 0.2em;
}


/* Images */

.file-image.float-left,
.file-image.float-right {
    float: none;
}
@media (min-width: 480px) {
    .file-image.float-left,
    .media-image-left {
        margin-right: 14px;
        margin-bottom: 7px;
        float: left;
    }
    .file-image.float-right {
        margin-left: 14px;
        margin-bottom: 7px;
        float: right;
    }
}