/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* @import url("mainmenu-default-normal.css"); */

html {
    font-size: 10px;
}
.desktop-only {
    display: block !important;
}
.mobile-only,
#nav {
    display: none !important;
}
#region-branding {
    padding: 7px 0 0;
    border-bottom: 0;
    background: transparent;
    margin: 0 10px;
    z-index: auto;
}
#zone-branding .logo-img {
    display: inline-block;
    margin: 1px 7px 11px 0;
    left: 0;
    max-width: none;
    text-align: left;
}
#zone-menu-wrapper {
	display: block;
}
#region-user-second {
    float: right;
    background: #fff;
    margin: 0 -13px 0 0;
    text-align: right;
}
#region-user-second .block .content a {
    padding: 0 13px;
    color: #858585 !important;
}
#region-header-first {
    display: block;
    min-height: 20rem;
    min-height: 20px;
}
#region-sidebar-second {
    float: left;
}


/* /////////////////////////// Newsletter Layer ////// */

#newsletter-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #fff;
  border-top: 1px solid #f63;
  width: 100%;
  z-index: 999;  
  -webkit-box-shadow: 0 -2px 3px 1px #dfdfdf;
  box-shadow: 0 -2px 3px 1px #dfdfdf;
}
#newsletter-wrapper.open {
  max-height: 85px;
	-webkit-transition: max-height 500ms;
    -moz-transition: 	max-height 500ms;
    -o-transition: 		max-height 500ms;
    transition: 		  max-height 500ms;
}
#newsletter-wrapper.closed {
  max-height: 7px;
  -webkit-transition: max-height 500ms;
  -moz-transition: 	  max-height 500ms;
  -o-transition: 		  max-height 500ms;
  transition: 		    max-height 500ms;
}
#newsletter-wrapper-inner {
  padding: 7px 0;
  position: relative;
}
#newsletter-wrapper-inner > img {
  margin-top: 4px;
  float: left;
}
#newsletter-trigger {
  background: #fff none repeat scroll 0 0;
  position: absolute;
  top: -19px;
  right: 0;
  font-size: 12px;
  border: 1px solid #f63;
  border-bottom: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 0 5px;
  font-weight: normal;
  -webkit-box-shadow: 0 -4px 3px -2px #dfdfdf;
  box-shadow: 0 -4px 3px -2px #dfdfdf;
  
}
#newsletter-wrapper form {
  float: right;
}
#newsletter-wrapper form,
#webform-ajax-wrapper-10380 {
  margin-left: 20px;
}
#webform-ajax-wrapper-10380 .webform-confirmation {
  clear: both;
  margin-left: 13px;
}
#newsletter-wrapper .webform-component,
#newsletter-wrapper .form-actions {
  float: left;
  margin-left: 10px;
}
#newsletter-wrapper .webform-component-email,
#newsletter-wrapper .webform-component-email input {
  width: 280px;
}
#newsletter-wrapper form * {
  margin-bottom: 0 !important;
}

/* /////////////////////////// Slider ////// */

.view-slider #views_slideshow_cycle_main_slider-block,
.view-slider .views-slideshow-controls-top {
    width: 620px;
}
.view-slider .views-slideshow-controls-bottom {
    width: 300px;
}
.view-slider .views-slideshow-controls-top {
    width: 620px !important;
}


.portrait-l {
    width: 140px;
}
.pw-landscape-l {
    max-width: 280px;
}

/* kandidatencheck */

#pw-block-user-kc .view-footer .grid-4.alpha {
    text-align: left;
}
#pw-block-user-kc .view-footer .grid-4.omega {
    text-align: right;
}
.container-12 .view-pw-kandidatencheck .pw-kc-profile-picture {
    display: block;
    width: 60px;
}
.container-12 .view-pw-kandidatencheck .pw-kc-argumentation {
    margin-left: 60px;
}

.slick-prev span.desktop-only,
.slick-next span.desktop-only {
    display: inline-block !important;
}


.pw-voting .vote.total {
  float: left;
  margin: 0 20px 16px 0;
}
#webform-client-form-57286 #edit-submitted-vote {
  clear: none;
}

/* /////////////////////////// Announcement ///////////////// */

.announcement.slideshow .wrapper {
    padding: 18px 30px 34px 0;
    padding: 1.8rem 30px 3.4rem 0;
}
.announcement.slideshow .views-slideshow-controls-top {
    width: 550px;
}

.view-id-profile_list_rev .view-content ul {
    background: url(../images/bg_list-rev.png) repeat-y;
}
.view-id-profile_list_rev .view-content li {
    border-width: 1px 0 0;
    width: 33%;
    float: left;
}
.view-id-profile_list_rev .view-content .profile-picture {
    float: none;
    margin-right: 0;
}