/* This file will hold styles that are loaded using the same media query as the normal grid. */
@import url("mainmenu-default-normal.css");

html {
    font-size: 10px;
}
#section-header {
    border-bottom: 0;
    margin-bottom: 0;
}
#zone-branding .logo-img {
    display: inline-block;
    margin: 1px 7px 11px 0;
}
#region-user-second {
    position: absolute;
    z-index: 142;
    top: 5px;
    right: 14px;
}
#region-header-first {
    display: block;
    min-height: 20rem;
    min-height: 20px;
}
#region-sidebar-second {
    float: left;
}


.view-slider #views_slideshow_cycle_main_slider-block,
.view-slider .views-slideshow-controls-top {
    width: 620px;
}
.view-slider .views-slideshow-controls-bottom {
    width: 300px;
}
.view-slider .views-slideshow-controls-top {
    width: 620px !important;
}


/* /////////////////////////// Announcement ///////////////// */

.announcement.slideshow {
    padding: 18px 30px 34px 0;
}
.announcement.slideshow .background-image {
    display: block;
    width: 620px;
    height: 220px;
    position: absolute;
    left: 0;
    top: -41px;
    top: -4.1rem;
    z-index: -1;
    background: url(../images/bg_announcement.jpg);
}
.announcement.slideshow .views-slideshow-cycle-main-frame-row-item {
    width: 560px;
}

.view-id-profile_list_rev .view-content ul {
    background: url(../images/bg_list-rev.png) repeat-y;
}
.view-id-profile_list_rev .view-content li {
    border-width: 1px 0 0;
    width: 33%;
    float: left;
}
.view-id-profile_list_rev .view-content .profile-picture {
    float: none;
    margin-right: 0;
}