/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* @import url("mainmenu-default-normal.css"); */

html {
    font-size: 10px;
}
.desktop-only {
    display: block !important;
}
.mobile-only,
#nav {
    display: none !important;
}
#region-branding {
    padding: 7px 0 0;
    border-bottom: 0;
    background: transparent;
    margin: 0 10px;
    z-index: auto;
}
#zone-branding .logo-img {
    display: inline-block;
    margin: 1px 7px 11px 0;
    left: 0;
    max-width: none;
    text-align: left;
}
#zone-menu-wrapper {
	display: block;
}
#region-user-second {
    float: right;
    background: #fff;
    margin: 0 -13px 0 0;
    text-align: right;
}
#region-user-second .block .content a {
    padding: 0 13px;
    color: #858585 !important;
}
#region-header-first {
    display: block;
    min-height: 20rem;
    min-height: 20px;
}
#region-sidebar-second {
    float: left;
}


.view-slider #views_slideshow_cycle_main_slider-block,
.view-slider .views-slideshow-controls-top {
    width: 620px;
}
.view-slider .views-slideshow-controls-bottom {
    width: 300px;
}
.view-slider .views-slideshow-controls-top {
    width: 620px !important;
}


.portrait-l {
    width: 140px;
}
.pw-landscape-l {
    max-width: 280px;
}


#pw-block-user-kc .view-footer .grid-4.alpha {
    text-align: left;
}
#pw-block-user-kc .view-footer .grid-4.omega {
    text-align: right;
}


.pw-voting .vote.total {
  float: left;
  margin: 0 30px 0 0;
}
#webform-client-form-57286 #edit-submitted-vote {
  clear: none;
}

/* /////////////////////////// Announcement ///////////////// */

.announcement.slideshow .wrapper {
    padding: 18px 30px 34px 0;
    padding: 1.8rem 30px 3.4rem 0;
}
.announcement.slideshow .views-slideshow-controls-top {
    width: 550px;
}

.view-id-profile_list_rev .view-content ul {
    background: url(../images/bg_list-rev.png) repeat-y;
}
.view-id-profile_list_rev .view-content li {
    border-width: 1px 0 0;
    width: 33%;
    float: left;
}
.view-id-profile_list_rev .view-content .profile-picture {
    float: none;
    margin-right: 0;
}