/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* @import url("mainmenu-default-normal.css"); */

html {
    font-size: 10px;
}
.desktop-only {
    display: block !important;
}
.mobile-only,
#nav {
    display: none !important;
}

#zone-branding {
  background: #fff;
}
#region-branding {
  padding: 21px 0 28px;
  border-bottom: 0;
  margin: 0 10px;
  z-index: 1;
  background: transparent;
}
#region-branding .logo-img {
  margin-left: 0;
}
#region-user-second {
  float: right;
  padding: 7px 0 2px;
  background: #fff;
  filter: none;
}
#zone-promotion-wrapper {
  position: relative;
  z-index: 99;
}
#zone-menu-wrapper {
	display: block;
}
#region-sidebar-second {
  float: left;
}
#zone-postscript-wrapper {
  background: #f7f7f7; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
  background-image: linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
#zone-copyright {
  text-align: center;
}
.pw-custom-search input.form-text {
    font-size: 14px;
    font-size: 1.4rem;
}

/* footer */

#block-menu-menu-about-us-de li {
  display: inline-block;
  margin-right: 62px;
}
#block-menu-menu-about-us-de li a {
  font-weight: normal;
  line-height: 50px;
}
#block-menu-menu-about-us-de li a:link,
#block-menu-menu-about-us-de li a:visited {
  color: #666;
}
#block-menu-menu-about-us-de li a:hover,
#block-menu-menu-about-us-de li a:active {
  color: #333;
}
#section-footer {
  background: #fdfdfe;
  border: 1px solid #dfdfdf;
  border-width: 1px 0;
  -webkit-box-shadow: 0 0 2px 1px #DEDEDE;
  -moz-box-shadow: 0 0 2px 1px #DEDEDE;
  box-shadow: 0 0 2px 1px #DEDEDE;
}
#block-block-2 {
  float: right;
}


/* /////////////////////////// Newsletter Layer ////// */

#newsletter-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #fff;
  border-top: 1px solid #f63;
  width: 100%;
  z-index: 999;  
  -webkit-box-shadow: 0 -2px 3px 1px #dfdfdf;
  box-shadow: 0 -2px 3px 1px #dfdfdf;
}
#newsletter-wrapper.open {
  max-height: 85px;
	-webkit-transition: max-height 500ms;
    -moz-transition: 	max-height 500ms;
    -o-transition: 		max-height 500ms;
    transition: 		  max-height 500ms;
}
#newsletter-wrapper.closed {
  max-height: 7px;
  -webkit-transition: max-height 500ms;
  -moz-transition: 	  max-height 500ms;
  -o-transition: 		  max-height 500ms;
  transition: 		    max-height 500ms;
}
#newsletter-wrapper-inner {
  padding: 7px 0;
  position: relative;
}
#newsletter-wrapper-inner > img {
  margin-top: 4px;
  float: left;
}
#newsletter-trigger {
  background: #fff none repeat scroll 0 0;
  position: absolute;
  top: -19px;
  right: 0;
  font-size: 12px;
  border: 1px solid #f63;
  border-bottom: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 0 5px;
  font-weight: normal;
  -webkit-box-shadow: 0 -4px 3px -2px #dfdfdf;
  box-shadow: 0 -4px 3px -2px #dfdfdf;
  
}
#newsletter-wrapper h3 {
  font-family: Lucida Grande,​ Helvetica,​Arial,​ sans-serif;
  font-size: 17px;
  margin-top: 3px 0;
}
#newsletter-wrapper h3 .icon-logo-aw {
  vertical-align: text-bottom;
  margin: 3px 0;
}
#newsletter-wrapper h3 .icon-logo-aw::before {
  margin: 0;
}
#newsletter-wrapper form {
  float: right;
}
#newsletter-wrapper form,
#webform-ajax-wrapper-10380 {
  margin-left: 20px;
}
#webform-ajax-wrapper-10380 .webform-confirmation {
  clear: both;
  margin-left: 13px;
}
#newsletter-wrapper .webform-component,
#newsletter-wrapper .form-actions {
  float: left;
  margin-left: 10px;
}
#newsletter-wrapper .webform-component-email,
#newsletter-wrapper .webform-component-email input {
  width: 280px;
}
#newsletter-wrapper form * {
  margin-bottom: 0 !important;
}

/* /////////////////////////// Slider ////// */

.view-slider #views_slideshow_cycle_main_slider-block,
.view-slider .views-slideshow-controls-top {
    width: 620px;
}
.view-slider .views-slideshow-controls-bottom {
    width: 300px;
}
.view-slider .views-slideshow-controls-top {
    width: 620px !important;
}


.portrait-l {
    width: 140px;
}
.pw-landscape-l {
    max-width: 280px;
}

/* kandidatencheck */

#pw-block-user-kc .view-footer .grid-4.alpha {
    text-align: left;
}
#pw-block-user-kc .view-footer .grid-4.omega {
    text-align: right;
}
.container-12 .view-pw-kandidatencheck .pw-kc-profile-picture {
    display: block;
    width: 60px;
}
.container-12 .view-pw-kandidatencheck .pw-kc-argumentation {
    margin-left: 60px;
}

.slick-prev span.desktop-only,
.slick-next span.desktop-only {
    display: inline-block !important;
}


.pw-voting .vote.total {
  float: left;
  margin: 0 20px 16px 0;
}
#webform-client-form-57286 #edit-submitted-vote {
  clear: none;
}


/* view-pw-testimonials */

.view-pw-testimonials-header .more-link {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1em;
}
.views-field-field-testimonial-fullname {
  position: absolute;
  bottom: 0;
  line-height: 1em;
  left: 84px;
}


/* /////////////////////////// Announcement ///////////////// */

.announcement.slideshow .wrapper {
    padding: 18px 30px 34px 0;
    padding: 1.8rem 30px 3.4rem 0;
}
.announcement.slideshow .views-slideshow-controls-top {
    width: 550px;
}

.view-id-profile_list_rev .view-content ul {
    background: url(../images/bg_list-rev.png) repeat-y;
}
.view-id-profile_list_rev .view-content li {
    border-width: 1px 0 0;
    width: 33%;
    float: left;
}
.view-id-profile_list_rev .view-content .profile-picture {
    float: none;
    margin-right: 0;
}