.container-12 .view-pw-kandidatencheck blockquote {
    top: -8px;
}
.container-12 .view-pw-kandidatencheck .pw-kc-profile-picture {
    width: 60px;
}
.container-12 .view-pw-kandidatencheck .pw-kc-profile-picture img {
    margin-left: 1px;
}
.container-12 .view-pw-kandidatencheck .pw-kc-argumentation {
    margin-left: 60px;
}
.view-pw-kandidatencheck .views-slideshow-controls-top {
    font-weight: bold;
}
.view-pw-kandidatencheck .views_slideshow_slide {
    width: 620px;
}
.view-pw-kandidatencheck .views-slideshow-controls-text-pause {
    display: none;
}
.view-pw-kandidatencheck .views_slideshow_controls_text span:hover {
    text-decoration: none;
}
.view-pw-kandidatencheck .views_slideshow_controls_text_previous a,
.view-pw-kandidatencheck .views_slideshow_controls_text_next a {
    color: #000;
    background-image: url(/sites/all/themes/custom/parliamentwatch/images/sprite.png);
    background-repeat: no-repeat;
}
.view-pw-kandidatencheck .views-slideshow-controls-text a:hover,
.view-pw-kandidatencheck .views-slideshow-controls-text a:focus,
.view-pw-kandidatencheck .views-slideshow-controls-text a:active {
    color: #666;
}
.view-pw-kandidatencheck .views_slideshow_controls_text_previous a {
    padding-left: 22px;
    background-position: -213px -3292px;
}
.view-pw-kandidatencheck .views_slideshow_controls_text_next a {
    padding-right: 22px;
    background-position: right -3972px;
    float: right;
}