/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 10px;
	margin-left: 20px;
	z-index:499;
	/*IE6 hack */
		 _position: absolute;
		 _top:expression(documentElement.scrollTop+body.scrollTop);
		 _margin-top: 500px;

}
body { 
	/*IE6 hack */
		_background: url(null) fixed ;
}
#back-top a, 
#back-top-prev a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #999;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	
}
#back-top a:hover, 
#back-top-prev a:hover,
#back-top a:focus, 
#back-top-prev a:focus
#back-top a:active, 
#back-top-prev a:active {
	color: #666;
}
/* arrow icon (span tag) */
#back-top span#button, 
#back-top-prev span#button-prev{
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background-position: center center;
	background-repeat: no-repeat;
	
	background-image: url('../images/ic_scroll-to-top.png') ;
	opacity:0.8;
	filter:alpha(opacity = 80);
	/* rounded corners */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span#button,
#back-top-prev a:hover span#button-prev,
#back-top a:focus span#button,
#back-top-prev a:focus span#button-prev,
#back-top a:active span#button,
#back-top-prev a:active span#button-prev {
	opacity: 1;
	filter: alpha(opacity = 100);
}
#edit-scroll-to-top-preview{
    float: right;
    width: 100%;
}
