/* //////////////////////////// slider ///////////////////// */

.slider-item-act-button {
    position: relative;
    left: 65px;
    margin-top: 2px;
}
.slider-item-act-text {
    margin-left: 177px;
    margin-top: -5px;
}
.view-slider #views_slideshow_cycle_main_slider-block {
    display: none;
}
.view-slider #views_slideshow_cycle_main_slider-block h3 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 1px;
    color: #f63;
}
.view-slider #views_slideshow_cycle_div_slider-block_0 form { /* newsletter box with same block in content */
    margin-bottom: 9px;
}
.view-slider #views_slideshow_cycle_main_slider-block input.form-email {
    float: left;
    margin-right: 7px;
}
.view-slider .views-slideshow-cycle-main-frame-row-item {
    margin: 14px 90px 20px 0;
    padding: 12px 20px;
    background: url(/sites/all/themes/custom/parliamentwatch/images/bg_fff50.png);
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.6em;
}
.view-slider .views-slideshow-cycle-main-frame-row-item:hover {
    background: url(/sites/all/themes/custom/parliamentwatch/images/bg_fff90.png);
}
.view-slider {
    height: 168px !important;
    height: 16.8rem !important;
    position: relative;
}
.view-slider #views_slideshow_cycle_teaser_section_slider-block,
.view-slider #views_slideshow_cycle_main_slider-block,
.view-slider .views-slideshow-cycle-main-frame-row {
    height: 168px !important;
}
.view-slider .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
}
.view-slider .views-content-field-slider-url a {
    font-size: 18px;
    font-size: 1.8rem;
    color: #666;
    font-family: 'Times New Roman', Georgia, serif;
    line-height: 1.1em;
    font-weight: normal;
}
.view-slider .active .views-content-field-slider-url a {
    color: #999;
}
.view-slider .views-field-field-slider-teaserbody {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.6em;
    color: #999;
}
.view-slider .active .views-field-field-slider-teaserbody {
    color: #ccc;
}

.view-slider #widget_pager_bottom_slider-block .active {
    left: -10px;
}

.view-slider .views-field-field-slider-teaserbody p {
    line-height: 1.1em;
    margin-bottom: 1.3rem;
}
.view-slider #views_slideshow_cycle_main_slider-block,
.ds-right-1 .view-slider #views_slideshow_cycle_main_slider-block {
    position: absolute;
    right: 321px;
    top: 0;
    height: 168px !important;
    width: 620px;
}
.view-slider .views-slideshow-controls-text-previous a {
    width: 26px;
    height: 26px;
    background: url(/sites/all/themes/custom/parliamentwatch/images/sprite.png) -960px -3615px no-repeat;
    text-indent: -5000rem;
    display: block;
    position: absolute;
    left: 6px;
    bottom: 6px;
}
.view-slider .views-slideshow-controls-text-next a {
    width: 26px;
    height: 26px;
    background: url(/sites/all/themes/custom/parliamentwatch/images/sprite.png) right -3774px no-repeat;
    text-indent: -5000rem;
    display: block;
    position: absolute;
    right: 6px;
    bottom: 6px;
}
.view-slider .close {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background: url(/sites/all/themes/custom/parliamentwatch/images/sprite.png) -720px -3864px no-repeat;
    cursor: pointer;
    text-indent: -5000rem;
    display: block;
}
.view-slider .views-slideshow-controls-top,
.view-slider #views_slideshow_controls_text_pause_slider-block {
    display: none;
    position: relative;
}
.view-slider .views-slideshow-controls-top {
    bottom: 0;
    position: absolute;
    right: 321px;
    z-index: 13;
}
.view-slider .views-slideshow-controls-bottom {
    position: absolute;
    top: 0;
    right: 0;
}
.view-slider .views-slideshow-pager-field-item {
    position: relative;
    padding-right: 38px;
}
.view-slider .item {
    position: absolute;
    right: 0;
    top: -4px;
    width: 31px;
    height: 31px;
    background: url(/sites/all/themes/custom/parliamentwatch/images/sprite.png) no-repeat;
}
.js .view-slider .views-slideshow-pager-field-item {
    cursor: pointer;   
}
.view-slider  a.form-submit {
    font-size: 15px;
    font-size: 1.5rem;
}

.view-slider .service-links {
    width: 456px;
    height: 20px;
}
.view-slider .service-links li {
    list-style: none;
    margin-left: 12px;
    width: 20px;
    height: 20px;
}


/* sharethis */

.view-slider .stButton .chicklets {
    padding-left: 20px !important;
    width: 102px;
    margin: 4px 0;
}
.view-slider .stButton .sharethis {
	background: url("/sites/all/themes/custom/parliamentwatch/images/sprite.png") no-repeat scroll -481px -2px transparent !important;
}
.view-slider .icon-share {
    margin-top: 2px;
}
