body.widget {
    position: relative;
    font-size: 11px;
    line-height: 16px;
}
body.widget.width-300 {
    width: 300px;
}
body.widget.width-160 {
    width: 160px;
}
.widget header {
    border-bottom: 1px dotted #f36;
    margin-bottom: 17px;
}
.widget.width-160 header {
    padding: 10px 4px 7px;
}
.widget.width-300 header {
    padding: 10px 11px 7px;
}
#widget-recentanswers header {
    padding: 8px 11px 6px;
}

.widget h3 {
    color: #333;
    line-height: 15px;
    font-size: 15px;
    margin-bottom: 2px;
}
.widget h4 {
    font-size: 12px;
}
.widget.width-160 input.txt {
    font-size: 12px;
    width: 105px;
    height: 2.4em;
}
.widget.width-300 input.txt {
    font-size: 13px;
    height: 2.25em;
    padding: 0 9px;
    width: 172px;
}
.form-submit.image {
    height: 29px;
    width: 29px;
}
.widget.width-160 .form-submit.image {
    margin-left: 3px;
}
.widget.width-300 .form-submit.image {
    margin-left: 5px;
}
#widget-postalcodesearch #section-content,
#widget-recentanswers #section-content {
    background: url(../images/bg_f4f4f4.png);
    -webkit-box-shadow: 0px 0px 2px 2px #ececec;
    -moz-box-shadow: 0px 0px 2px 2px #ececec;
    box-shadow: 0px 0px 2px 2px #ececec;
    position: relative;
    z-index: 50;
}

#widget-postalcodesearch.width-160 #section-content {
    margin: 0 6px 100px;
    padding: 8px 3px 20px;
}
#widget-postalcodesearch.width-300 #section-content {
    margin: 0 48px 20px 0;
    padding: 5px 11px;
}

#widget-recentanswers.width-160 #section-content {
    margin: 0 3px 17px;
    padding: 10px 6px 36px;
}
#widget-recentanswers.width-300 #section-content {
    margin: 0 10px 15px 0;
    padding: 10px 12px;
    position: relative;
}

#widget-recentanswers .link-question {
    background-color: #fff;
    margin: 0 0 0 71px;
}
#widget-recentanswers.width-160 .link-question {
    padding: 4px;
    margin: 0 0 0 75px;
}
#widget-recentanswers.width-300 .link-question {
    padding: 4px 4px 4px 14px;
}
#widget-recentanswers .link-question {
   line-height: 1.1em;
}
#widget-recentanswers.width-160 a img {
    position: absolute;
    bottom: 10px;
}
#widget-recentanswers.width-300 .link-question {
    position: absolute;
    bottom: 10px;
    width: 189px;
}
#widget-recentanswers .link-question a {
    font-size: 10px !important;
}

#widget-recentanswers.width-300 img {
    margin-right: 14px;
}
.widget .map {
    position: absolute;
    z-index: 30;
}
.widget.width-160 .map {
    background: url(../images/map.png);
    width: 154px;
    height: 208px;
}
.widget.width-300 .map {
    background: url(../images/map-137x184.png);
    width: 137px;
    height: 184px;
}
#widget-postalcodesearch.width-160 .map {
    right: 3px;
    top: 109px;
}
#widget-postalcodesearch.width-300 .map {
    top: 8px;
    right: 7px;
}