#webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdonation-donation-frequency .form-item,
#webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdonation-donation-amount .form-item,
#webform-client-form-10508 #edit-submitted-fieldset-donationform-paymentinfo-option-receipt .form-item {
    float: left;
    margin-right: 20px;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-date-start {
    clear: both;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-amount,
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-target,
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdata--option-newsletter {
    clear: both;
    padding-top: 1em;
}
#webform-client-form-10508 .fieldset-legend {
    font-family: 'Times New Roman',Georgia,serif;
    font-size: 20px;
    font-size: 2rem;
    line-height: 22px;
    line-height: 2.2rem;
    margin-bottom: 8px;
    margin-bottom: 0.8rem;
}
#webform-client-form-10508 .fieldset-description {
    margin-bottom: 8px;
    margin-bottom: 0.8rem;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-free-amount,
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-amount {
    float: left;
}
#webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdonation-donation-free-amount {
    width: 8em;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-free-amount {
    position: relative;
    top: 2em;
    left: -10px;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdata--address-zipcode {
    width: 60px;
    float: left;
    margin-right: 10px;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-yourdata--address-city {
    width: 278px;
    float: left;
}
#webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdata-address-country {
    width: 348px;
}
#webform-client-form-10508 .webform-component-fieldset.form-wrapper {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #fff;
}
#webform-client-form-10508 #webform-component-fieldset-donationform-message.webform-component-fieldset.form-wrapper {
    padding-bottom: 0;
    border-bottom: 0;
}
#webform-client-form-10508 #payment_accordion {
    clear: both;
    padding-top: 1em;
}


/* /////////////////////////
responsive layout for mobile
///////////////////////// */

.responsive-layout-mobile #webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdonation-donation-frequency .form-item,
.responsive-layout-mobile #webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdonation-donation-amount .form-item,
.responsive-layout-mobile #webform-client-form-10508 #edit-submitted-fieldset-donationform-paymentinfo-option-receipt .form-item {
    float: none;
    margin: 0 0 0.2em;
} 
.responsive-layout-mobile #webform-client-form-10508 .form-text {
    width: 100%;
}
.responsive-layout-mobile #webform-client-form-10508 #webform-component-fieldset-donationform-yourdata--address-zipcode,
.responsive-layout-mobile #webform-client-form-10508 #webform-component-fieldset-donationform-yourdata--address-city,
.responsive-layout-mobile #webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdata-address-country {
    float: none;
    margin-right: 0;
    width: 100%;
}
.responsive-layout-mobile #webform-client-form-10508 #payment_accordion .form-text {
    width: 100%;
}
.responsive-layout-mobile #webform-client-form-10508 #edit-submitted-fieldset-donationform-yourdonation-donation-free-amount.form-text {
    width: 8em;
}
.responsive-layout-mobile #webform-client-form-10508 #webform-component-fieldset-donationform-yourdonation--donation-free-amount {
    top: 7.2em;
}
.responsive-layout-mobile #webform-client-form-10508 .ui-accordion .ui-accordion-content {
    padding: 1em 10px;
}
.responsive-layout-mobile #webform-client-form-10508 .ui-accordion .ui-accordion-content label {
    font-size: 0.8em;
}
.responsive-layout-mobile #webform-client-form-10508 #webform-component-fieldset-donationform-paymentinfo--payment-accordion--payment-tab-direct-debit--payment-direct-debit-holder label,
.responsive-layout-mobile #webform-client-form-10508 #webform-component-fieldset-donationform-paymentinfo--payment-accordion--payment-tab-sepa--payment-sepa-holder label {
    line-height: 1.1em;
    margin-top: 0.7em;
}
.page-node-51914 #webform-component-fieldset-donationform-yourdonation--donation-frequency,
.page-node-51914 #webform-component-fieldset-donationform-yourdonation--donation-target,
.page-node-51914 #webform-component-fieldset-donationform-yourdonation .fieldset-description {
    display: none;
}