#region-user-second {
    right: 0;
}
#region-user-second .block .content {
    background: transparent;
    border: 0;
    box-shadow: none;
    display: block;
    margin-top: 0;
    position: relative;
}
#region-user-second .block .content li {
    display: inline-block;
}
#region-user-second .block .content a {
    display: inline-block;
    padding: 0 13px 0 13px;
    color: #858585 !important;
    font: 9px/21px Lucida Grande,Helvetica,Arial,sans-serif;
}