@import url(font-awesome.css);

body {
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1em;
    color: #444444;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 15px;
}
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: 35px;
}

h1, .h1 { font-size: 42px; font-weight: 500; line-height: 1.25em; }
h2, .h2 { font-size: 40px; font-weight: 500; }
h3, .h3 { font-size: 36px; font-weight: 500; }
h4, .h4 { font-size: 32px; font-weight: 500; }
h5, .h5 { font-size: 28px; font-weight: 900; margin-bottom: 5px; line-height: 1.3em; }
h6, .h6 { font-size: 24px; font-weight: 900; margin-bottom: 5px; }


ul {
    list-style: none;
    padding: 10px 0 20px;
    margin: 0;
}
    ul li {
        position: relative;
        padding-left: 25px;
        padding-bottom: 5px;
        font-size: 1em;
        line-height: 1.7em;
        color: #444444;
    }
    ul li:before {
        content: '\f105';
        font-family: 'FontAwesome';
        color: #db204b;
        display: block;
        position: absolute;
        left: 5px;
        top: 2px;
    }
.info-list {
    background: #f1efea;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}
    .info-list ul {
        margin-bottom: 0;
    }