//
// Content
// =======
//

#content {
  .content-subpage {
    max-width: 730px;
    @media (min-width: @screen-sm-min) {
      padding: 90px 30px 40px;
    }

    li,
    p {
      font-size: 18px;
      line-height: 29px;
      color: @darkGray;
    }
  }
}


